@model nShop.Data.Data.Sklep.Zamowienie

@{
    ViewData["Title"] = "Usuń";
}

<h1 class="text-center">Usuń zamówienie</h1>
<h3 class="text-center text-danger">Czy na pewno chcesz usunąć to zamówienie?</h3>

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Szczegóły zamówienia</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <!-- Data zamówienia -->
                <dt class="col-sm-4 col-md-2 font-weight-bold">Data zamówienia:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.DataZamowienia)</dd>

                <!-- Suma -->
                <dt class="col-sm-4 col-md-2 font-weight-bold">Suma:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Suma)</dd>

                <!-- Email użytkownika -->
                <dt class="col-sm-4 col-md-2 font-weight-bold">Email użytkownika:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.Uzytkownik.Email)</dd>

                <!-- Status zamówienia -->
                <dt class="col-sm-4 col-md-2 font-weight-bold">Status zamówienia:</dt>
                <dd class="col-sm-8 col-md-10">@Html.DisplayFor(model => model.StatusZamowienia.Nazwa)</dd>
            </dl>
        </div>
        <div class="card-footer">
            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger mr-2">Usuń</button>
                <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
            </form>
        </div>
    </div>
</div>
