@model nShop.Data.Data.Sklep.Produkt

@{
    ViewData["Title"] = "Utwórz Produkt";
}

<h1 class="text-center">Utwórz Produkt</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nazwa" class="control-label">Nazwa produktu</label>
                    <input asp-for="Nazwa" class="form-control" />
                    <span asp-validation-for="Nazwa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Opis" class="control-label">Opis produktu</label>
                    <textarea asp-for="Opis" class="form-control"></textarea>
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Cena" class="control-label">Cena</label>
                    <input asp-for="Cena" type="number" class="form-control" />
                    <span asp-validation-for="Cena" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="KategoriaId" class="control-label">Kategoria</label>
                    <select asp-for="KategoriaId" class="form-control" asp-items="@(new SelectList(ViewBag.KategoriaId, "Value", "Text"))"></select>
                </div>

                <div class="form-group">
                    <label asp-for="ProducentId" class="control-label">Producent</label>
                    <select asp-for="ProducentId" class="form-control" asp-items="@(new SelectList(ViewBag.ProducentId, "Value", "Text"))"></select>
                </div>

                <div class="form-group">
                    <label asp-for="IloscNaMagazynie" class="control-label">Ilość na magazynie</label>
                    <input asp-for="IloscNaMagazynie" type="number" class="form-control" />
                    <span asp-validation-for="IloscNaMagazynie" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="SciezkaZdjecia" class="control-label">Ścieżka zdjęcia</label>
                    <input asp-for="SciezkaZdjecia" class="form-control" />
                    <span asp-validation-for="SciezkaZdjecia" class="text-danger"></span>
                </div>

                <div class="form-group" style="text-align: center;">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
