@using nShop.Data.Data.Sklep
@model PulpitNawigacyjny

@{
    ViewData["Title"] = "Pulpit nawigacyjny";
}

<h1 class="text-center">Pulpit nawigacyjny</h1>

@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Podsumowanie zamówień</h5>
                <div class="card-body">
                    <p class="card-text">Liczba zamówień: @Model.LiczbaZamowien</p>
                    <p class="card-text">Łączna kwota sprzedaży: @Model.LacznaKwotaSprzedazy</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h5 class="card-header">Produkty wymagające uwagi</h5>
                <div class="card-body">
                    @if (Model.ProduktyWymagajaceUwagi != null)
                    {
                        <ul class="list-group">
                            @foreach (var produkt in Model.ProduktyWymagajaceUwagi)
                            {
                                <li class="list-group-item">@produkt.Nazwa (@produkt.IloscNaMagazynie sztuk na magazynie)</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Brak produktów wymagających uwagi.</p>
                    }
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Szybki dostęp</h5>
                <div class="card-body">
                    <a asp-controller="Produkt" asp-action="Create" class="btn btn-primary">Dodaj produkt</a>
                    <a asp-controller="Zamowienie" asp-action="Index" class="btn btn-success">Zarządzaj zamówieniami</a>
                    <a asp-controller="Uzytkownik" asp-action="Index" class="btn btn-warning">Ustawienia konta</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Model ma wartość null.</p>
}