@model nShop.Data.Data.CMS.Strona

@{
    ViewData["Title"] = @Model.LinkTytul;
}

<div class="homepage">
    <h4>@Model.Tytul</h4>
    @Model.Tresc

    @if (ViewBag.ModelProdukt != null && ViewBag.ModelRecenzja == null)
    {
        @await Html.PartialAsync("_Produkty", (IEnumerable<nShop.Data.Data.Sklep.Produkt>)ViewBag.ModelProdukt)
    }
    @if (ViewBag.ModelKategoria != null)
    {
        @await Html.PartialAsync("_Kategorie", (IEnumerable<nShop.Data.Data.Sklep.Kategoria>)ViewBag.ModelKategoria)
    }
    @if (ViewBag.ModelKoszyk != null)
    {
        @await Html.PartialAsync("_Koszyk", (nShop.Data.Data.Sklep.Zamowienie)ViewBag.ModelKoszyk)
    }
    @if (ViewBag.ModelRecenzja != null)
    {
        @await Html.PartialAsync("_Recenzja", (nShop.Data.Data.Sklep.Recenzja)ViewBag.ModelRecenzja)
    }
</div>
