@{
    ViewData["Title"] = "Polityka Prywatności";
}

<h1>@ViewData["Title"]</h1>

<p>W n-Shop, przywiązujemy wielką wagę do prywatności naszych klientów. Niniejsza polityka prywatności opisuje, jakie dane osobowe zbieramy, w jakim celu, jak je wykorzystujemy i jakie są prawa użytkowników związane z ich danymi.</p>

<h2>Zbieranie danych osobowych</h2>
<p>Zbieramy tylko te dane osobowe, które są niezbędne do realizacji zamówień w naszym sklepie, a mianowicie:</p>
<ul>
    <li>Imię i nazwisko</li>
    <li>Adres email</li>
    <li>Adres wysyłki</li>
    <li>Informacje o płatnościach</li>
</ul>

<h2>Użytkowanie danych</h2>
<p>Używamy zebranych danych do:</p>
<ul>
    <li>Przetwarzania i realizacji zamówień</li>
    <li>Komunikacji związanej z zamówieniami</li>
    <li>Udzielania wsparcia klientom</li>
    <li>Poprawy jakości naszych usług i ofert</li>
</ul>

<h2>Przechowywanie danych</h2>
<p>Dane osobowe przechowujemy tylko przez okres niezbędny do spełnienia celów, dla których zostały zebrane, z zachowaniem przepisów prawa.</p>

<h2>Bezpieczeństwo</h2>
<p>Dokładamy wszelkich starań, aby Twoje dane były bezpieczne. W tym celu stosujemy różnorodne środki ochrony, w tym szyfrowanie i zabezpieczenia fizyczne naszych serwerów.</p>

<h2>Prawa użytkownika</h2>
<p>Przysługuje Ci szereg praw związanych z danymi osobowymi, w tym prawo do dostępu do danych, sprostowania, usunięcia lub ograniczenia ich przetwarzania. Jeśli masz pytania dotyczące danych osobowych lub chcesz skorzystać z przysługujących Ci praw, skontaktuj się z nami.</p>

<h2>Kontakt</h2>
<p>Jeżeli masz jakiekolwiek pytania dotyczące naszej polityki prywatności, prosimy o kontakt:</p>
<address>
    n-Shop<br>
    [Adres ulicy]<br>
    [Miasto, Kod pocztowy]<br>
    Email: <a href="mailto:kontakt@n-shop.com">kontakt@n-shop.com</a><br>
    Telefon: [Numer telefonu]
</address>

<p>Polityka prywatności została ostatnio aktualizowana dnia: @DateTime.Now.ToString("dd.MM.yyyy")</p>
