<div class="popular-products">
    <h2 class="text-center mb-4">Najpopularniejsze produkty</h2>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card product-card h-100 shadow-sm">
                    <img src="@Url.Content($"~/{item.SciezkaZdjecia}")" alt="Obraz produktu" class="card-img-top">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@item.Nazwa</h5>
                        <p class="card-text">@item.Cena zł</p>
                        <a asp-controller="Produkt" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mt-auto">Szczegóły</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
