@model nShop.Data.Data.Sklep.Recenzja

@{
    ViewData["Title"] = "Utwórz Recenzję";
}

<h1 class="text-center">Utwórz Recenzję</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="UzytkownikId" class="control-label">Użytkownik</label>
                    <select asp-for="UzytkownikId" class="form-control" asp-items="@(new SelectList(ViewBag.Uzytkownicy, "Value", "Text"))"></select>
                    <span asp-validation-for="UzytkownikId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProduktId" class="control-label">Produkt</label>
                    <select asp-for="ProduktId" class="form-control" asp-items="@(new SelectList(ViewBag.Produkty, "Value", "Text"))"></select>
                    <span asp-validation-for="ProduktId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tekst" class="control-label">Tekst recenzji</label>
                    <textarea asp-for="Tekst" class="form-control"></textarea>
                    <span asp-validation-for="Tekst" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ocena" class="control-label">Ocena</label>
                    <input asp-for="Ocena" type="number" class="form-control" />
                    <span asp-validation-for="Ocena" class="text-danger"></span>
                </div>

                <div class="form-group" style="text-align: center;">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
