@model nShop.Intranet.Models.Sklep.Kategoria

@{
    ViewData["Title"] = "Utwórz Kategorię";
}

<h1 class="text-center">Utwórz Kategorię</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Nazwa" class="control-label">Nazwa kategorii</label>
                    <input asp-for="Nazwa" class="form-control" />
                    <span asp-validation-for="Nazwa" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Opis" class="control-label">Opis kategorii</label>
                    <textarea asp-for="Opis" class="form-control"></textarea>
                    <span asp-validation-for="Opis" class="text-danger"></span>
                </div>

                <div class="form-group" style="text-align: center;">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
