@model ElementZamowienia

@{
    ViewData["Title"] = "Utwórz Element Zamówienia";
}

<h1 class="text-center">Utwórz Element Zamówienia</h1>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ZamowienieId" class="control-label">ID Zamówienia</label>
                    <select asp-for="ZamowienieId" class="form-control" asp-items="ViewBag.ZamowienieId"></select>
                    <span asp-validation-for="ZamowienieId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ProduktId" class="control-label">Produkt</label>
                    <select asp-for="ProduktId" class="form-control" asp-items="ViewBag.ProduktId"></select>
                    <span asp-validation-for="ProduktId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Ilosc" class="control-label">Ilość</label>
                    <input asp-for="Ilosc" class="form-control" />
                    <span asp-validation-for="Ilosc" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CenaJednostkowa" class="control-label">Cena Jednostkowa</label>
                    <input asp-for="CenaJednostkowa" class="form-control" />
                    <span asp-validation-for="CenaJednostkowa" class="text-danger"></span>
                </div>

                <div class="form-group text-center">
                    <input type="submit" value="Utwórz" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-warning">Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
